
		<!-- Navbar for app pages -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<a href="/about" class="navbar-brand">DayPlan</a>
				<button class="btn btn-default navbar-btn"><a href="/home">Home</a></button>
				<button class="btn btn-default navbar-btn"><a href="/search">Search</a></button>
				<!-- <button><a href="/results">Results</a></button> -->
				<button class="btn btn-default navbar-btn navbar-right"><a href="/logout">Log Out</a></button>
			</div>
		</nav>