<!DOCTYPE html>

<html>
	<head>
		<title>Oops!</title>
			<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="styles/main.css">
	</head>

	<body>

		<div class="container" style:"margin:0 auto">
			<div class="jumbotron">
				<h1>Sorry, there's been an error</h1>
				<button class="btn btn-primary btn-lg"><a style="color:white" href="/">Click here to log in again</a></button>
			</div>
		</div>



<% include ../partials/footer %>