<!DOCTYPE html>

<html>
<head>
	<title>Oops!</title>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<style>
	.button {
		color: black;
		background-color: grey;
	}
</style>

<body>
	<h1>Sorry, there's been an error</h1>

	<button><a href="/" class="btn button btn-lg">Click here to log in again</a></button>

</body>
</html>