<!DOCTYPE html>

<html>
	<head>
		<title>Oops!</title>
			<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="styles/main.css">
	</head>

	<style>
		.button {
			color: black;
			background-color: grey;
		}
	</style>

	<body>
		<h1>Sorry, there's been an error</h1>

		<button class="btn button btn-lg"><a href="/">Click here to log in again</a></button>




<% include ../partials/footer %>