<% include ../partials/header %>

	<title>About</title>
	<link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body>

	<div class="container">
	
		<% include ../partials/navbar %>

		<div class="jumbotron">
			<h1>About DayPlan <small>the making of the site</small> </h1>
		</div>

		<div class="row">
			<h2>What is DayPlan?</h2>
				<p></p>

		</div>		

	</div>

</body>
</html>