<!DOCTYPE html>

<html>
<head>
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
	<div class="jumbotron">
		<h1>About DayPlan <small>the making of the site</small> </h1>
	</div>


</body>
</html>