<!DOCTYPE html>

<html>
<head>
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>

	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<a href="/about" class="navbar-brand">DayPlan</a>
				<button class="btn btn-default navbar-btn"><a href="/home">Home</a></button>
				<button class="btn btn-default navbar-btn"><a href="/search">Search</a></button>
				<!-- <button><a href="/results">Results</a></button> -->
				<button class="btn btn-default navbar-btn navbar-right"><a href="/logout">Log Out</a></button>
			</div>
		</nav>

		<div class="jumbotron">
			<h1>About DayPlan <small>the making of the site</small> </h1>
		</div>
	</div>

</body>
</html>