<!DOCTYPE html>

<html>
	<head>
		<title>Login</title>
			<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="/styles/main.css">
	</head>
	<body>
		<h1>Log In </h1>
		<% if(typeof message !== 'undefined') { %>
		<p style="color:red;">	
			<%= message %>
		</p>
			<% } %>

		<form method="post" action="/login">
			<p>
				<label for="username">Username: </label>
				<input type="text" name="username" id="user" placeholder="Enter username" value="<%= username %>" autofocus>
			</p>
			<p>
				<label for="password">Password: </label>
				<input type="password" name="password" id="pw" placeholder="Enter password">
			</p>
			<p>
				<input type="submit" value="Log In">
			</p>

		</form>

		<a href="/signup">Don't have an account? Sign up here!</a>

<% include ../partials/footer %>