<% include ../partials/header %>

		<title>Sign Up</title>
		<link rel="stylesheet" type="text/css" href="styles/user.css">
	</head>

	<body>
		<div class="container" style="margin:auto">
			<div class="jumbotron">
				<div class="row">
					<div class="col-sm-6 col-md-offset-4 col-md-4">
						<h1>Sign Up</h1>
						<p style="color: red;">
							<% if (message) { %>
								<%= message %>
							<% } %>
						</p>		
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6 col-md-offset-4 col-md-4">
						<form method="post" action="/create">
							<div>
								<p>
									<label for="username"></label>
									<input type="text" name="username" id="user" placeholder="username" value="<%= username %>" autofocus>
								</p>
								<p>
									<label for="password"></label>
									<input type="password" name="password" id="pw" placeholder="password" 
								</p>
								<p>
									<input type="submit" class="btn btn-primary btn-lg" role="button" style="color: white" value="Sign Up!">
								</p>
							</div>
						</form>
						<a href="/login">Have an account already? Log in here!</a><br>
						<a href="/">Or go back to try a search</a> 
					</div>
				</div>	

			</div>
		</div>

<% include ../partials/footer %>
