<!DOCTYPE html>

<html>
	<head>
		<title>Sign Up</title>
		<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="styles/main.css">
	</head>
	<body>

		<div class="jumbotron">
			<h1>Sign Up</h1>
			<p style="color: red;">
				<% if (message) { %>
					<%= message %>
				<% } %>
			</p>		

			<form method="post" action="/create">
				<p>
					<label for="username"></label>
					<input type="text" name="username" id="user" placeholder="username" value="<%= username %>" autofocus>
				</p>
				<p>
					<label for="password"></label>
					<input type="password" name="password" id="pw" placeholder="password" 
				</p>
				<p>
					<input type="submit" class="btn btn-primary btn-lg" role="button" style="color: white" value="Sign Up!">
				</p>

			</form>

			<a href="/login">Have an account already? Log in here!</a><br>
			<a href="/">Or go back to try a search</a> 
		</div>

<% include ../partials/footer %>
