<% include ../partials/header %>


		<title>Search</title>
		<link rel="stylesheet" type="text/css" href="/styles/main.css">
	</head>
	<body>
		<% if(!isAuthenticated) { %>
			<a href='/login'>You must be logged in to search</a>

		<% } else { %>

<% include ../partials/navbar %>

		<div class="container">
		<h1>Search</h1>
			<div class="jumbotron">
				<form method="get" action="/searchFor">  
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-4">
							<p>
								<label for="cat">Search for: </label> 
								<input type="text" name="searchCat" id="cat" placeholder="food or fun" autofocus style="width:20em">
							</p>
							<p>
								<label for="city">Search in: </label>
								<input type="text" name="searchCity" id="city" placeholder="city, zipcode, wherever your heart desires" style="width:20em">
							</p>
							<p>
								<input type="submit" class="btn btn-primary btn-md" style="width:20em" value="Find">
							</p>
						</div>
					</div>
				</form> 
			</div>
		</div>

		<% } %> 




<% include ../partials/footer %>
