.container .jumbotron {
  background-position: center;
  border-radius: 0;
  background-color: #2c3e50;
  color:#ecf0f1;
  font-family: 'Raleway', sans-serif;
}
body {
	  font-family: 'Raleway', sans-serif;
	  background-color: #ecf0f1;
}

.btn {
	color:white;
	border-color: #f39c12;
	background-color: #f39c12;
	border-radius: 0px;
}

.btn:hover {
	background-color: #c0392b;
	border-color:#e74c3c;
}

input {
	color: black;
}
